

}
 nav.navbar{
 	
 	box-shadow: 0 15px 12px 0 rgba(0, 0, 0, 0.2), 0 19px 20px 0 rgba(0, 0, 0, 0.19); 

 }

b{
	color:hsl(217,71%,53%);
}
.box{
	background: hsl(0,0%,96%);
	box-shadow: 0 18px 14px 0 rgba(0, 0, 0, 0.2), 0 20px 24px 0 rgba(0, 0, 0, 0.19); 
}

.box img{
	border: solid 6px black;
	border-radius: 3px; 
}

a{
	color: hsl(217,71%,53%);
}

